p {
    text-align:center; 
    color:blue;
}

body {background-color: black;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Circle_%28transparent%29.png/600px-Circle_%28transparent%29.png?20170717140929);
}

h1 {color: red;
text-transform: unset;}