p {
    text-align:center; 
    color:blue;
    font-size: x-large;
    text-decoration: underline ;
}

body {background-color: black;
background-image: url(https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg?w=900&t=st=1655420548~exp=1655421148~hmac=7c94c27595e32caee791f73f3d5bb91b5407d433ca5dcf794a00a407516682ea);
}

h1 {color: red;
text-decoration: line-through;
font-size: small;
text-align: center;}