p {
    text-align:center; 
    color:blue;
    font-size: x-large;
    text-decoration: underline ;
}

body {background-color: black;
background-image: url(https://img.freepik.com/free-vector/modern-texture-dark-abstract-pattern-background_373171-68.jpg?w=1060);
}

h1 {color: red;
text-decoration: line-through;
font-size: small;
text-align: center;}

span {font-style: italic;}

img {
    display: block;
    margin: 0 auto;
}
